.titolo{
    text-align: center;
    background-color: unset;
}
.icone{
    color:black;
}
.menu{
    top: 0;
    height: 50px;
}
.loader{
    text-align: center;
}
.contenitorePagina{
    width: 100%;
}
.contenitorePaginaCaricata{
    text-align: center;
    margin-bottom: 35px;
}
.contenitoreComponenti{
    text-align: center;
    margin-top: 15px;
    width: 100%;
}
.lenteIngrandimento :hover {
    border-radius: 4px;
    background-color: #ccac33;
}
.titoloLockpick{
    font-size: 25px;
    cursor: pointer;
}