<mat-toolbar class="footer" color="accent">
    <div style="text-align: left;width:5%">
        <a routerLink="/homepage">
            <mat-icon color="black">home</mat-icon>
        </a>
    </div>
    <div style="text-align:center;width:70%">
        
        <div style="text-align:left">
        
        <p class="ringraziamenti">
            Ringraziamo la <a href="https://www.regione.piemonte.it/web/">Regione Piemonte</a> , 
            <a href="http://essenzialmente.org/">Essenzialmente Formazione</a> e 
            <a href="http://www.itisgrassi.it/">l'ITTS C. Grassi</a> per l'occasione e gestione del corso IFTS.
            <br>
            Ringraziamo inoltre <a href="http://www.grupposcai.it/">SCAI Consulting</a> e le affiliate
            per l'aiuto,l'ospitalità e il tutoraggio datoci durante il periodo di stage.
            il corso IFTS.
        </p>
    
        </div>
    
    </div>
    <div style="width:20%">
        <div style="text-align:left">
        <p class="ringraziamenti" text-align="center">
            Sito creato da Simone Marengo e <br>
            Dario De Marco
        </p>
        </div>
    </div>
    <div style="width:5%">
        <div style="text-align:rigth">
        <button (click)="topFunction()" mat-fab color="primary"><mat-icon color="accent">vertical_align_top</mat-icon></button>
        </div>
    </div>
</mat-toolbar>